<!-- bootstrap js cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
<script>
  window.onload = function() {
    const flashMessage = document.getElementById('flash-message');
    if (flashMessage) {
      setTimeout(() => {
        flashMessage.style.transition = 'opacity 0.5s ease-out';
        flashMessage.style.opacity = '0'; // Fade out
        setTimeout(() => {
          flashMessage.style.display = 'none'; // Hide the element after fade-out
        }, 500); // Wait for the fade-out effect
      }, 3000); // Wait for 5 seconds before starting the fade-out
    }
  };
</script>
</body>
</html>