<header class="navbar">
  <h1 class="navbar-title"><a href="/">ShopNow</a>
   
  </h1>
  <nav class="navbar-links">
    <a href="/products">Products</a>
    <% if (currentUser && currentUser.role==="buyer") { %>
    <a href="/user/cart"
      >Cart
      <% if(currentUser.cart.length>0){%><sup
        ><span class="badge text-bg-info" style="font-size: smaller"
          ><%=currentUser.cart.length%></span
        ></sup><%}%></a>
    
    <% } else { %>
    <a href="/product/new">Add New Product</a>
    <span class="user-greeting">Earning: &#x20B9; <%=currentUser.amount%></span>
    <% } %> <% if (currentUser) { %>
    <span class="user-greeting">Hi, <%= currentUser.username %>!</span>
    <!-- Logout Button -->
    <a href="/logout" class="logout-btn">Logout</a>
    <% } else { %>
    <a href="/login" class="login-link">Login</a>
    <% } %>
    <style>
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(135deg, #6c63ff, #9b59b6);
        padding: 10px 20px;
        color: white;
      }

      .navbar-title a{
        font-size: 1.0em;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }

      .navbar-links {
        display: flex;
        gap: 20px;
      }

      .navbar-links a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        padding: 5px 10px;
        transition: background-color 0.3s ease;
      }

      .navbar-links a:hover {
        background-color: #555;
        border-radius: 5px;
      }

      .user-greeting {
        font-size: 1.1em;
        font-weight: 500;
        color: #ffcc00; 
        padding: 5px 10px;
      }

      .login-link {
        font-size: 1.1em;
        font-weight: 500;
        color: #ffcc00;
        text-decoration: none;
        border: 2px solid #ffcc00;
        border-radius: 5px;
        padding: 5px 15px;
      }

      .login-link:hover {
        background-color: #ffcc00;
        color: #333;
        transition: all 0.3s;
      }

      /* Logout Button Styling */
      .logout-btn {
        font-size: 1.1em;
        font-weight: 500;
        color: #fff;
        background-color: inherit; /* Red color to indicate logout */
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .logout-btn:hover {
        background-color: #555;
        border-radius: 5px;
      }
    </style>
  </nav>
</header>
